:root {
    --font-size-small: 10px;
    --font-size-regular: 16px;
    --font-size-large: 25px;
    --font-size-huge: 30px;
}

li {
    list-style: none;
}

.wp-block-my-custom-block {
    border: 1px solid #ddd;
    padding: 10px;
}

.wp-block-my-custom-block li {
    margin: 10px 0;
}

.my-custom-block-post-date {
    margin-right: 1em;
}

.my-custom-block-category a {
    padding: 0.3em 1em;
    background-color: #7257A4;
    color: #fff !important;
    margin-right: 1em;
    display: inline-block;
}