:root {
    --font-size-small: 10px;
    --font-size-regular: 16px;
    --font-size-large: 25px;
    --font-size-huge: 30px;
}

li {
    list-style: none;
}

.wp-block-my-custom-block {
    border: 1px solid #ddd;
    padding: 10px;
}

.wp-block-my-custom-block li {
    margin: 10px 0;
}

.my-custom-block-post-date {
    margin-right: 1em;
}

.my-custom-block-category a {
    padding: 0.3em 1em;
    background-color: #7257A4;
    color: #fff !important;
    margin-right: 1em;
    display: inline-block;
}

.wp-block-my-custom-block.two-column {
    display: flex;
    flex-wrap: wrap;
    gap: 3%;
}

.wp-block-my-custom-block.two-column li {
    width: 48.5%;
}

.wp-block-my-custom-block.two-column li>a {
    display: block;
    padding: 10px 0;
}

.wp-block-my-custom-block.three-column {
    display: flex;
    flex-wrap: wrap;
    gap: 3%;
}

.wp-block-my-custom-block.three-column li {
    width: 31.3%;
}

.wp-block-my-custom-block.three-column li>a {
    display: block;
    padding: 10px 0;
}

.thumbnail-img-wrapper img {
    max-width: 100%;
}



@media screen and (max-width: 767px) {
    .wp-block-my-custom-block li>a {
        display: block;
        padding: 5px 0;
    }
}